<html>
<h3 class="header">Here are the Event's You've Favorited!</h3>

<!-- <div *ngIf="favorites.length ===0">
    <p>{{showEvents()}}</p>
</div>

<div *ngFor="let e of events">
    <div *ngIf="e.isFavorite === true">
    <p>{{e.eventName}}</p>
    </div>
</div> -->


    <!-- <li *ngFor="let e of events">
        <p [ngStyle]="{'text-decoration': e.isFavorite? 'underline' : 'none'}">{{e.eventName}}
          <button (click)="favoriteEvent(e.eventId)" *ngIf="e.isFavorite === false">Favorite</button>
        </p> -->

        <h3 class="link">Want to Add More?</h3>
        <p class="link">Head back to the <a class routerLink="/showEvents">Event Page</a></p>
        </html>