html { 
    background-image: url(https://www.opengroup.org/sites/default/files/styles/no_style/public/events-image_4.jpg?itok=tsdwzgv3) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
text-decoration-color: white;}