
<h2>Registration</h2>
<p>Let's get you Set up!</p>

<input type="text" [(ngModel)]="newUser.userName" />
<button (click)="registerUser()">Add</button> 
<br/>
<!-- The Above is our basic login to connect to DB -->

<br/>

<h2>Log In Here:</h2>
<form action="action_page.php" method="post">
  <!-- <div class="imgcontainer">
    <img src=" " alt="Avatar" class="avatar">
  </div> -->

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" (click)="registerUser()">Login</button>
    <!-- Need a login method           ^^^ -->

    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>


<br/>
<html>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</html>

<!-- <div *ngIf="events.length ===0">
  <p>{{showEvents()}}</p>
</div>
<div> --> 
  <!-- <a [routerLink]="['/showEvents']">Events</a>
  <li *ngFor="let e of events">
    <p [ngStyle]="{'text-decoration': e.isFavorite? 'line-through' : 'none'}">{{e.eventName}}
      <button (click)="favoriteEvent(e.eventId)" *ngIf="e.isFavorite === false">Favorite</button>
</div> -->


<!-- <input type="text" id="name" name="name" class="form-control"
      appForbiddenName="bob"
      [(ngModel)]="newUser.userName" #name="ngModel">

<div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert">

  <div *ngIf="name.errors?.['required']">
    Name is required.7
  </div>
  <div *ngIf="name.errors?.['forbiddenName']">
    Name cannot be Bob.
  </div>

</div> -->