<html>
<h1>Welcome to SAW Events!</h1>

<body>
<div *ngIf="events.length ===0">
  <p>{{showEvents()}}</p>
</div>


<br />
<!-- <div *ngFor="let result of results">
    <p>{{result.eventName}}</p>
</div> -->


<!-- <button (click)="showEvents()">Search</button> -->

<!-- <ul>
    <li *ngFor="let e of events">
      <p [ngStyle]="{'text-decoration': e.isFavorite? 'underline' : 'none'}">{{e.eventName}}
        <button (click)="favoriteEvent(e.eventId)" *ngIf="e.isFavorite === false">Favorite</button>
      </p>
    </li>
  </ul> -->


<div style="padding: 3em -2em;">
  <mat-accordion [multi]="true">

    <!-- hideToggle [disabled]="false"-->
    <mat-expansion-panel *ngFor="let e of events">
      <mat-expansion-panel-header>
        <mat-panel-title>{{e.eventName}}</mat-panel-title>
        <mat-panel-description>View Event Info</mat-panel-description>
      </mat-expansion-panel-header>

      <br />
      <br />

      <div class="mat">
        <p>{{e.eventLocation}}</p>

        <!-- <p>{{removeTime(e.eventDate)}}</p> -->

        <p>{{e.eventDate | date: 'longDate'}}</p>
      </div>
      <div >
        <i></i>
        <button (click)="favoriteEvent(e.eventId)" class ="button1">Favorite</button>
      </div >
      
      <mat-action-row>
        <!-- <button>FalseFavorite</button> -->
      </mat-action-row>

    </mat-expansion-panel>

  </mat-accordion>

</div>

<br />

<div class="Add">

  <h2>Add New Event</h2>
  <p>Event Name:</p>
  <input type="text" [(ngModel)]="newEvent.eventName" />

  <p>Event Date:</p>
  <input type="date" [(ngModel)]="newEvent.eventDate" />

  <p>Event Location:</p>
  <input type="string" [(ngModel)]="newEvent.eventLocation" />

  <button (click)="createEvent()" class="button2">Add</button>

</div>
</body>
</html>