.button1{
    background-color:white;
  }
  
 .button1:hover{background-color:yellow;}
 .button1:focus{background-color:cornflowerblue; ;}
 

 .mat{
background-color: transparent;
text-decoration: white;

}
body{
    background-color: transparent;
    text-decoration: white;
    font-weight: bolder;
    text-align: center;
    border: black;
    border-style: groove;

}
.Add{

    border-style: dotted;
    border-bottom: black;
    border-left: black;
    border-right: black;
}

.button2:hover{background-color: yellow;}
.button2:focus{background-color: cornflowerblue;}

html { 
    background: url(https://www.confettisupermarket.com/product_images/uploaded_images/messe-luzern-corporate-event.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
text-decoration-color: white;}